doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title="Google"
        style
            include style.css
    body
        div.container
            div.header
                p.greetings Witaj!</br> Baw się dobrze!
            img(src="https://images.pexels.com/photos/209620/pexels-photo-209620.jpeg?cs=srgb&dl=alcohol-art-bottles-209620.jpg&fm=jpg" alt="kot")
        