* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right bottom, #0057e7, #fff);
    background-size: auto;
    background-repeat: no-repeat;   
    height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    font-family: Arial;
}

.header {
    margin-top: 10vh;
    margin-bottom: 5vh;
    color: #fff;
    font-size: 40px;
}

.form {
    margin: 0 auto 100px auto;
    padding: 30px;
}

img {
    max-height: 500px;
}